/* Declaration des variables */
:root{
    --bleue:#71b9e5;
    --blueDeNuit:#25384f;
    --jauneOr:#cedd3e;
    --text:#224463;

}
/* Réinitialisation des styles de base du navigateur */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 1;
}
/* Style de base du nav-bar */
.nav-bar {
    background-color: var(--blueDeNuit);
    color: #fff;
    height: 55%;
}

/* Style de la liste non ordonnée */
.nav-bar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

/* Style des éléments de la liste */
.nav-bar li {
    padding: 15px 20px;
    border-right: 1px solid #555;  /* Trait vertical de séparation */
}

/* Supprimer le trait vertical de séparation du dernier élément */
.SansBorder{
    border-right: none !important;
}
/* trait horizontal pour le premier élément  */
hr{
    height: 7px;
    background-color: var(--bleue);
    border: none;
}

/* Style des liens dans les éléments de la liste */
.nav-bar a {
    text-decoration: none;
    color: #3d5b76;
    font-weight: bold;
    transition: color 0.3s;
}
.clr{
    color: #fff!important;
}

/* Changement de couleur au survol */
.nav-bar a:hover {
    color: #00bcd4;
}
/* Style des boutons du nav-bar */
.login{
    width: 80px;
    border: none;
    background-color: var(--text);
    color: var(--blueDeNuit);
}
.essaie{
    width: 135px;
    border: none;
    background-color: var(--jauneOr);
    color: var(--text); 
    margin-right: 39px;
}
.espace{
    margin-top: 20px;
}
.nav-bar i{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Style de base du menu-bar */
.menu-bar{
    display: flex;
    justify-content: space-between;
    height: 55%;
}
/* Style du logo menu-bar */
.menu-bar .logo{
   padding-left: 120px;
   padding-top: 10px;
}
/* Redimmensionnement du logo */
.menu-bar.logo img{
    width: 30%;
}
/* Style de la liste non ordonnée  menu-bar*/
.menu-bar .menu ul{ 
    list-style: none;
    display: flex;
    justify-content: center;
}
/* Style des éléments de la liste menu-bar */
.menu-bar li {
    padding: 15px 15px;
    /* padding-top: 15px; */
}
/* Style des liens dans les éléments de la liste  du menu-bar */
.menu-bar a {
    text-decoration: none;
    color: var(--text);
    font-weight: bold;
}
/* Redimentionnement de l'image au niveau du main */
main .image {
    width: 100%;
    height: 350px;
    margin-bottom: 100px;
    background-color: var(--bleue);
    display: flex;
    justify-content: space-between;
    opacity: 80%;
}
main .text-btn h2{
    font-family: Verdana;
    font-size: 35px;
    font-weight: bold;
    color: var(--blueDeNuit);
    width: 44%;
    margin-left: 80px;
    margin-top: 40px;
    padding-bottom: 12px;
}
sup{
    font-size: 16px;
}
main .text-btn p{
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    color: var(--text);
    margin-left: 80px;
    width: 28%;
    padding-bottom: 12px;
}
main .text-btn button{
    height: 70px;
    background-color: var(--jauneOr);
    color: var(--text);
    font-weight: bold;
    text-align: center;
    border: none;
    margin-left: 80px;
    width: 28%;
}
main .image img{
    width: 140%;
    height: 100%;
    padding-right: 240px;
}
.contenu{
    display: flex;
}
/* repossitionnement du section article */
article{
    margin-left: 180px;
}
/* repossitionnement du section aside */
aside{
    margin-left: 40px;
    margin-right: 180px;
}
/* stylisation du text */
aside h2{
    font-family: Verdana;
    font-size: 26px;
    font-weight: bold;
    color: var(--blueDeNuit);
    padding-bottom: 25px;
}
aside p{
    font-family: Verdana;
    font-size: 14px;
    color: var(--text);
}